*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icon{
    display: flex;
}

header{
    background-color: blue;
    text-align: center;
    color: aqua(124, 27, 214);
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.logo{
    display: flex;
}

.logo img{
    height: 100px;
}



body{
    height: 600px;
    background-color:rgb(27, 238, 146);
    background-image: url("https://fondosmil.com/th/31112.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    background-attachment:fixed; /*scroll significa que la imagen es estatica*/
}



ul{
    list-style-type: none; /*quito viñetas*/
    margin: 0%;
    padding: 0%;
    width: 200px;
    background-color:rgb(167, 67, 183);
    border: 1px solid red;
}

li{
    text-align: center;
    border-bottom: 1px solid red;
}

li a{
    display: block;
    color: rgb(40, 23, 92);
    text-decoration: none;
    padding: 8px 0 8px 16px;
}

li a:hover{
    background-color: bisque;
    color: rgb(88, 96, 199);
}

.active{
    background-color: gray;
}


li:last-child{
    border-bottom: none;
}



header{
    background-color: darkgoldenrod;
    text-align: center;
    color: brown;
}

li{
    text-align: center;
    border-bottom: 1px solid rgb(168, 244, 15) ;
}

h4{
    color: rgb(148, 240, 130);
    text-decoration:underline ;
    text-transform:initial;
    letter-spacing: 3px; /*sirve para separar las letras*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px -1px 2px red;
}

p{
    color: bisque;
    font-size: 16px ;
    text-align: justify;
    word-spacing: 3px;
    line-height: 23px;
}


#merc{
    color: cyan;
}

#ven{
    color: lemonchiffon;
}

central{
    background-color: rgb(143, 185, 154);
} 




p{
    color: bisque;
    font-size: 16px ;
    text-align: justify;
    word-spacing: 3px;
    line-height: 23px;
}

footer{
    clear: both;
    text-align: center;
    font-size: 18px;
    color: aquamarine;
    max-width: 1000px;
    min-height: 130px;
    background: 000;
    margin: 0 auto;
    border-radius: 0 0 20px 20px
    
}

